<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="conteudo">

    <h2 th:text="${fornecedor.id == null} ? 'Novo Fornecedor' : 'Editar Fornecedor'"></h2>

    <form th:action="@{/fornecedores/salvar}" th:object="${fornecedor}" method="post">
        <input type="hidden" th:field="*{id}">

        <label>Nome:</label>
        <input type="text" th:field="*{nomeFornecedor}" required>

        <label>CNPJ:</label>
        <input type="text" th:field="*{cnpj}" id="cnpj" placeholder="00.000.000/0000-00" required>>

        <label>Prazo de Entrega:</label>
        <input type="text" th:field="*{prazoEntrega}">

        <button type="submit" class="btn">Salvar</button>
        <a th:href="@{/fornecedores}" class="btn">Cancelar</a>
    </form>

</div>

</body>
</html>