<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="conteudo">
    <h2 th:text="${cliente.id == null} ? 'Novo Cliente' : 'Editar Cliente'"></h2>

    <form th:action="@{/clientes/salvar}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{id}">

        <label>Nome:</label>
        <input type="text" th:field="*{nomeCliente}" required>

        <label>CPF:</label>
        <input type="text" th:field="*{cpf}" id="cpf" placeholder="000.000.000-00" required>

        <label>Telefone:</label>
        <input type="text" th:field="*{telefone}" id="telefone" placeholder="(00)00000-0000">

        <label>Email:</label>
        <input type="email" th:field="*{email}" id="email"    placeholder="exemplo@email.com">

        <label>Endereço:</label>
        <input type="text" th:field="*{endereco}">

        <button type="submit" class="btn">Salvar</button>
        <a th:href="@{/clientes}" class="btn">Cancelar</a>
    </form>
</div>

</body>
</html>